@font-face {
	font-family: 'Gilroy';
	src:
			  url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
			  url('../fonts/gilroy/Gilroy-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
 }
 @font-face {
	font-family: 'Gilroy-Light';
	src:
			  url('../fonts/gilroy/Gilroy-Light.woff') format('woff'),
			  url('../fonts/gilroy/Gilroy-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
 }
 @font-face {
	font-family: 'Gilroy-Extra-Bold';
	src:
			  url('../fonts/gilroy/Gilroy-ExtraBold.woff') format('woff'),
			  url('../fonts/gilroy/Gilroy-ExtraBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
 }