*, ::before, ::after {
	box-sizing: border-box;
}
html {
	font-family: 'Gilroy', sans-serif;
	font-size: 14px;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: #000;
}

.wrap {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a {
	color: #000;
	text-decoration: none;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.d-none {
	display: none;
}

.c-blue {
	color: $blue;
}

.section-title {
	text-align: center;
	&__text {
		font-size: 30px;
		font-weight: normal;
		text-transform: uppercase;
	}
}

.main-btn {
	max-height: 51px;
	border-radius: 40px;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	&--primary {
		padding: 17px 25px;
		color: $white;
		background: linear-gradient(to right, $blue, #7eb9e7);
		border: 2px solid $blue;
	}
	&--outline {
		padding: 18px 26px;
		color: $blue;
		border: 1px solid $blue;
		background-color: rgba($white, 0.7);
	}
}