@import "_fonts";
@import "_variables";

@import "_main";
@import "_grid";

@import "templates/_header";
@import "templates/_navbar";
@import "templates/_mainSection";
@import "templates/_form";
@import "templates/_statistics";
@import "templates/_products";
@import "templates/_advantages";
@import "templates/_order";
@import "templates/_prices";
@import "templates/_about";
@import "templates/_partners";
@import "templates/_reviews";
@import "templates/_cost";


@import "templates/_footer";

@import "_media";