.cost {
	background-image: url('../img/cost/bg-image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&--windows {
		background-image: url('../img/cost/bg-image-2.jpg');
	}
	&--doors {
		background-image: url('../img/cost/bg-image-3.jpg');
	}
	&--constructions {
		background-image: url('../img/cost/bg-image-4.jpg');
	}
	&--balconies {
		background-image: url('../img/cost/bg-image-5.jpg');
	}
	&--accessories {
		background-image: url('../img/cost/bg-image-6.jpg');
	}
	&__body {
		display: flex;
		padding: 0 0 0 50px;
	}
	&__info {
		max-width: 410px;
		margin: auto;
		&--accessories{
			max-width: 450px;
		}
		&-title {
			margin: 0 0 25px;
			&-text {
				font-size: 24px;
				font-weight: normal;
				&--bold {
					display: block;
					font-family: 'Gilroy-Extra-Bold', sans-serif;
					font-size: 30px;
					font-weight: normal;
				}
			}
		}
		&-description {
			&-text {
				display: block;
				font-size: 16px;
				line-height: 24px;
				font-weight: normal;
				&:first-child {
					margin: 0 0 10px;
				}
			}
		}
	}
	&__form {
		margin: 0 45px 0 auto;
		&-body {
			max-width: 418px;
			padding: 114px 45px 95px;
			background-color: rgba($white, 0.9);
			border-radius: 0;
		}
		&-subtitle {
			max-width: 230px;
			display: block;
		}
		&-box {
			max-width: 235px;
		}
	}
}