.form {
	&__body {
		max-width: 330px;
		padding: 35px 45px 30px;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		border-radius: 10px;
		background-color: $white;
		text-align: center;
	}
	&__title {
		margin: 0 0 10px;
		font-family: 'Gilroy-Extra-Bold', sans-serif;
		font-size: 24px;
		font-weight: normal;
		text-transform: uppercase;
	}
	&__subtitle {
		margin: 0 0 22px;
		font-size: 12px;
		font-weight: normal;
	}
	&__form-box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__input {
		width: 100%;
		margin: 0 0 11px 0;
		padding: 15px 25px;
		border: 1px solid #ccc;
		border-radius: 50px;
		outline: none;
		font-size: 11px;
		font-weight: normal;
		color: rgba(#000, 0.6);
		transition: all 0.2s ease-in-out;
		&::placeholder {
			font-size: 11px;
			font-weight: normal;
			color: rgba(#000, 0.6);
		}
		&:last-of-type {
			margin: 0;
		}
		&:focus {
			border: 1px solid $blue;
		}
	}
	&__button {
		padding: 0;
		width: 100%;
		height: 42px;
		margin: 16px 0 0;
	}
}