.gallery {
	padding: 90px 0;
	background-image: url('../img/gallery/bg-img.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&__section-title {
		margin: 0 0 35px;
	}
	&__slider {
		&-body {
			margin: 0 -10px;
			position: relative;
			display: flex;
			justify-content: center;
			& .slick-arrow {
				position: absolute;
				z-index: 10;
				width: 25px;
				height: 30px;
				top: 50%;
				transform: translateY(-50%);
				background-color: $blue;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				outline: none;
			}
			& .slick-prev {
				left: -12px;
				&::before, &::after {
					content: '';
					position: absolute;
					left: 8px;
					width: 10px;
					height: 2px;
					background-color: #fff;
				}
				&::before {
					top: 11px;
					transform: rotate(-45deg);
				}
				&::after {
					top: 17px;
					transform: rotate(45deg);
				}
			}
			& .slick-next {
				right: -12px;
				&::before, &::after {
					content: '';
					position: absolute;
					left: 8px;
					width: 10px;
					height: 2px;
					background-color: #fff;
				}
				&::before {
					top: 11px;
					transform: rotate(45deg);
				}
				&::after {
					top: 17px;
					transform: rotate(-45deg);
				}
			}
		}
		&-item {
			margin: 0 10px;
			display: flex !important;
			align-items: center !important;
			outline: none;
			& img {
				margin: 0 auto	;
				border-radius: 10px;
				max-width: 100%;
			}
		}
	}
}