.header {
	position: relative;
	z-index: 100;
	padding: 15px 0;
	&__wrap {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	&__body {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo-box {
		z-index: 120;
		position: relative;
		& img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&__contacts {
		z-index: 110;
		position: relative;
		& a {
			font-family: 'Gilroy-Extra-Bold', sans-serif;
			font-size: 16px;
		}
	}
	&__burger-btn {
		z-index: 120;
		position: relative;
		width: 35px;
		height: 35px;
		display: none;
		justify-content: center;
		align-items: center;
		& span {
			position: relative;
			display: block;
			width: 30px;
			height: 3px;
			border-radius: 5px;
			background-color: #000;
			transition: all 0.2s ease-in-out;
			&::before, &::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 3px;
				border-radius: 5px;
				background-color: #000;
				transition: all 0.2s ease-in-out;
			}
			&::before {
				top: -8px;
			}
			&::after {
				top: 8px;
			}
		}
		&._active {
			& span {
				background-color: transparent;
				&::before, &::after {
					background-color: #ccc;
					top: 0;
					
				}
				&::before {
					transform: rotate(-45deg);
				}
				&::after {
					transform: rotate(45deg);
				}
			}
		}
	}
}