.main-section {
	padding: 165px 0 145px;
	margin: -80px 0 0;
	background-color: transparent;
	background-image: url('../img/main-section/bg-image.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	&--windows {
		background-image: url('../img/main-section/bg-image-2.jpg');
	}
	&--doors {
		background-image: url('../img/main-section/bg-image-3.jpg');
		& .main-section__title {
			max-width: 500px;
			line-height: 45px;
		}
	}
	&--construction {
		background-image: url('../img/main-section/bg-image-4.jpg');
	}
	&--balconies {
		background-image: url('../img/main-section/bg-image-5.jpg');

	}
	&--accessories {
		background-image: url('../img/main-section/bg-image-6.jpg');

	}
	&__body {
		position: relative;
	}
	&__title {
		margin: 0 0 25px;
		max-width: 775px;
		line-height: 60px;
		&-text {
			font-family: 'Gilroy-Extra-Bold', sans-serif;
			font-size: 74px;
			&--light {
				margin: 0;
				font-family: 'Gilroy-Light', sans-serif;
				font-size: 48px;
				font-weight: normal;
			}
		}
	}
	&__sub-title {
		margin: 0 0 25px;
		&-text {
			font-size: 30px;
		}	
	}
	&__description {
		max-width: 490px;
		&--window  {
			margin: 25px 0 0;
			max-width: 625px;
		}
		&--doors {
			margin: 25px 0 0;
			max-width: 680px;
		}
		&-text {
			font-size: 14px;
			line-height: 24px;
			font-weight: normal;
			&--window, &--doors, &--construction, &--accessories {
				font-size: 24px;
				line-height: 28px;
				font-weight: normal;
			}
		}
	}
	&__btn-group {
		display: inline-flex;
		flex-direction: column;
		margin: 30px 0 0;
		&--off {
			display: none;
		}
	}
	&__btn {
		&--mob {
			display: none;
			margin: 0 0 15px;
		}
	}
	&__advantages {
		display: flex;
		flex-direction: column;
		margin: 50px 0 0;
		&-item {
			display: inline-flex;
			align-items: center;
			margin: 0 0 25px;
			cursor: default;
			&:last-of-type {
				margin: 0;
			}
		}
		&-image {
			width: 40px;
			display: flex;
			justify-content: center;
			& img {
				display: block;
			}
		}
		&-info {
			margin: 0 0 0 10px;
			font-size: 14px;
			font-weight: normal;
		}
	}
	&__form {
		position: absolute;
		z-index: 110;
		top: 50%;
		transform: translateY(-50%);
		right: 34px;
	}
}