.h-navbar {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__item {
		position: relative;
		margin: 0 45px 0 0;
		font-weight: 600;
		&:last-of-type {
			margin: 0;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: -6px;
			left: 0;
			right: 0;
			width: 0;
			height: 3px;
			background-color: $blue;
		}
		&._active {
			&::after {
				width: 100%;
			}
			& a {
				color: $blue;
			}
		}
	}
}