.order {
	padding: 65px 0;
	&__section-title {
		margin: 0 0 60px 0;
	}
	&__item {
		margin: 0 0 75px;
		display: flex;
		align-items: center;
		&:last-child {
			margin: 0;
		}
		&--right {
			flex-direction: row-reverse;
			&>.order__item-info {
				text-align: end;
				margin:  0 60px 0 0;
			}
			&>.order__item-image {
				&>.order__item-circle {
					left: -33px;
				}
			}
		}
		&-image {
			position: relative;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			& img {
				max-width: 390px;
				max-height: 130px;
				border-radius: 10px;
				overflow: hidden;
			}
		}
		&-circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -33px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 63px;
			height: 63px;
			font-family: 'Gilroy-Extra-Bold', sans-serif;
			font-size: 24px;
			font-weight: normal;
			color: $white;
			border: 2px solid $white;
			border-radius: 50px;
			background-color: $blue;
		}
		&-info {
			margin:  0 0 0 60px;
			max-width: 580px;
			&-title {
				margin: 0 0 10px 0;
				font-family: 'Gilroy-Extra-Bold', sans-serif;
				font-size: 22px;
				font-weight: normal;
			}
			&-subtitle {
				font-size: 16px;
				font-weight: normal;
			}
		}
	}
}