.popup {
	display: none;
	&._active {
		display: block;
	}
	&__body {
		z-index: 250;
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(#000, 0.5);
	}
	&__form {
		position: relative;
		border-radius: 10px;
		box-shadow: 0 0 25px 1px rgb(58, 58, 58);
	}
	&__btn {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		&::before, &::after {
			content: '';
			position: absolute;
			width: 10px;
			height: 2px;
			top: 50%;
			left: 50%;
			border-radius: 2px;
			background-color: #c4c4c4;
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}