.prices {
	padding: 45px 0 65px;
	background-image: url('../img/prices/bg-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	&--balconies {
		padding: 45px 0 95px;
	}
	&__section-title {
		margin: 0 0 27px;
		&--balconies {
			margin: 33px 0 40px;
		}
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__tabs {
		margin: 0 0 30px;
		&-body {
			position: relative;
			display: flex;
			justify-content: center;
			& .prices__tabs-input {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
				&:checked {
					& + .prices__tabs-item {
						color: $white;
						font-family: 'Gilroy-Extra-Bold', sans-serif;
						background-color: $blue;
						transition: background-color 0.2s ease-in-out;
					}
				}
			}
		}
		&-item {
			padding: 15px 20px;
			margin: 0 10px;
			font-size: 18px;
			font-weight: normal;
			border-radius: 10px;
			cursor: pointer;
		}
		&-mob {
			display: none;
			width: 95%;
			&--partners {
				width: 100%;
				margin: 10px 0 0;
			}
			&-type {
				display: flex;
				justify-content: center;
				padding: 0 10px 0 0;
				border-radius: 5px;
				max-width: 314px;
				margin: 0 auto;
				border: 1px solid #c4c4c4;
				&-select {
					width: 100%;
					padding: 10px;
					border: none;
					background-color: transparent;
					outline: none;
				}
			}
		}
	}
	&__body {
		max-width: 1050px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item {
		&-partners {
			position: relative;
			display: flex;
			justify-content: center;
			&-list {
				display: flex;
				align-items: center;
				justify-content: center;
				& .prices__item-partners-input {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					visibility: hidden;
					&:checked {
						& + .prices__item-partners-item {
							color: $blue;
							font-family: 'Gilroy-Extra-Bold', sans-serif;		
						}
					}
				}
			}
			&-item {
				margin: 0 12px 30px;
				font-size: 14px;
				font-weight: normal;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				// &._active {
				// 	color: $blue;
				// 	font-family: 'Gilroy-Extra-Bold', sans-serif;
				// }
			}
		}
		&-offer {
			padding: 45px 70px;
			display: none;
			justify-content: center;
			border: 1px solid $blue;
			border-radius: 10px;
			background-color: $white;
			&._active {
				display: flex;
			}
			&-leftSide {
				margin: 0 38px 0 0 ;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&-rightSide {
				max-width: 520px;
			}
			&-logo {
				margin: 0 0 30px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				& img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
			&-product {
				& img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
			&-types {
				&-body {
					padding: 20px 0 15px;
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #ededed;
					
				}
				&-item {
					display: flex;
					justify-content: center;
					min-width: 150px;
					font-family: 'Gilroy-Light', sans-serif;
					font-size: 14px;
					font-weight: normal;
					color: rgba(#000, 0.67);
					&:last-child {
						margin: 0;
					}
				}
			}
			&-catalog {
				&-body {
					padding: 10px 0 0;
				}
				&-item {
					display: flex;
					border-bottom: 1px dashed #cbcbcb;
					&:last-of-type {
						border: none;
					}
				}
				&-type, &-price {
					padding: 18px 0;
					min-width: 150px;
				}
				&-type {
					padding-left: 5px;
					font-weight: normal;
				}
				&-price {
					color: red;
					text-align: center;
					font-weight: normal;
				}
			}	
			&-advice {
				display: block;
				margin: 15px 0 0;
				&-text {
					margin: 10px 0 0;
					display: block;
					text-align: center;
					font-size: 12px;
					font-weight: normal;
				}
			}
			&-btn {
				width: 100%;
				font-family: 'Gilroy-Light', sans-serif;
				font-size: 14px;
				font-weight: normal;
				text-transform: none;
			}
		}
	}
}