.products {
	padding: 70px 0 64px;
	&__section-title {
		margin: 0 0 40px;
	}
	&__items {
		margin: 0 -6px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__card {
		position: relative;
		margin: 6px;
		width: 228px;
		height: 253px;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		background-color: #f0f0f0;
		overflow: hidden;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 10px;
			border: 2px solid transparent;
		}
		&-title {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			min-height: 100px;
			padding: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			&-text {
				display: block;
				font-size: 18px;
				line-height: 18px;
				font-weight: normal;
			}
		}
		&-image {
			display: flex;
			justify-content: center;
			transform: translateY(90px);
			& img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.products-acc {
	padding: 70px 0 84px;
	&__section-title {
		margin: 0 0 80px;
	}
	&__items {
		margin: 0 -6px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__card {
		margin: 6px;
		padding: 20px 0 0;
		width: 228px;
		min-height: 233px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 10px;
		&-title {
			top: 0;
			left: 0;
			right: 0;
			min-height: 70px;
			padding: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			&-text {
				display: block;
				font-size: 18px;
				line-height: 18px;
				font-weight: normal;
			}
		}
		&-image {
			margin: auto;
			& img {
				display: block;
				max-width: 100%;
				height: auto;
				margin: auto;
			}
		}
	}	
}