.purchase-list {
	padding: 65px 0;
	margin: 15px 0 0;
	background-color: transparent;
	background-image: url('../img/purchase-list/bg-image.jpg');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	&__section-title {
		margin: 0 0 33px;
	}
	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__image {
		position: relative;
		z-index: 10;
		& img {
			display: block;
			max-width: 100%;
		}
	}
	&__items-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__item {
		margin: 15px 0 15px 40px;
		display: flex;
		align-items: center;
		cursor: default;
		&-circle {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 59px;
			min-height: 59px;
			color: $white;
			border-radius: 30px;
			border: 1px solid $white;
			background-color: $blue;
			&::before {
				content: '';
				position: absolute;
				width: 55px;
				height: 1px;
				left: -75px;
				border-bottom: 1px dashed #99caf0;
			}
			&._mirrored {
				color: $blue;
				border: 1px solid $blue;
				background-color: $white;
			}
			&-num {
				font-family: 'Gilroy-Extra-Bold', sans-serif;
				font-size: 18px;
				font-weight: normal;
			}
			&-text {
				font-size: 12px;
				font-weight: normal;
			}
		}
		&-text {
			margin: 0 0 0 25px;
			max-width: 305px;
			&-description {
				display: block;
				font-size: 14px;
				line-height: 18px;
				font-weight: normal;
			}
		}
	}
}