.reviews {
	padding: 80px 0 44px;
	background-image: url('../img/reviews/bg-img.png');
	background-repeat: no-repeat;
	background-position: top left;
	&__section-title {
		margin: 0 0 35px 17%;
		text-align: left;
	}
	&__body {
		display: block;
	}
	&__tabs {
		margin: 0 0 0 17%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 400px;
		&-item {
			font-size: 16px;
			font-weight: normal;
			cursor: pointer;
			&._active {
				font-family: 'Gilroy-Extra-Bold', sans-serif;
				color: $blue;
			}
		}
	}
	&__sliders-body {
		display: flex;
		justify-content: center;
	}
	&__slider-i {
		position: relative;
		z-index: 10;
		margin: 48px 0 0 0;
		max-width: 724px;
		background-color: $white;
		&-item {
			display: flex;
			justify-content: center;
			align-items: center;
			outline: none;
			& img {
				display: block;
				max-width: 724px;
				width: 100%;
				max-height: 388px;
				overflow: hidden;
			}
		}
	}
	&__slider-t {
		max-width: 380px;
		position: relative;
		z-index: 5;
		margin: -105px 0 0 -25px;
		& .slick-arrow {
			z-index: 10;
			position: absolute;
			width: 25px;
			height: 30px;
			bottom: 20px;
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
		}
		& .slick-prev {
			left: 65px;
			&::before, &::after {
				content: '';
				position: absolute;
				left: 8px;
				width: 10px;
				height: 2px;
				background-color: gray;
			}
			&::before {
				top: 11px;
				transform: rotate(-45deg);
			}
			&::after {
				top: 17px;
				transform: rotate(45deg);
			}
		}
		& .slick-next {
			left: 90px;
			&::before, &::after {
				content: '';
				position: absolute;
				left: 8px;
				width: 10px;
				height: 2px;
				background-color: gray;
			}
			&::before {
				top: 11px;
				transform: rotate(45deg);
			}
			&::after {
				top: 17px;
				transform: rotate(-45deg);
			}
		}
		&-item {
			display: flex;
			justify-content: center;
			padding: 64px 50px;
			border: 6px solid $blue;
			background-color: $white;
			outline: none;
			&-client {
				display: flex;
				align-items: center;
				&-ava {
					margin: 0 25px 0 0;
					max-width: 73px;
					max-height: 73px;
					border-radius: 50px;
					overflow: hidden;
					& img {
						display: block;
						max-width: 100%;
					}
				}
				&-info {
					&-text {
						font-size: 16px;
						font-weight: normal;
					}
					&-stars {
						margin: 7px 0 0;
						display: flex;
						& span {
							margin-right: -1px;
							display: block;
							color: #e8a765;
							font-size: 20px;
							font-weight: normal;
							line-height: 16px;
						}
					}
				}
			}
			&-post {
				max-width: 265px;
				padding: 35px 0 0 17px;
				& span {
					display: block;
					font-size: 14px;
					font-weight: normal;
					line-height: 24px;
				}
				&-date {
					margin: 35px 0 0;
				}
			}
		}
	}
}